body{
    width: 360px;
    height: 640px;

}

/* Fonts */

@font-face{
    font-family : "Quicksand";
    src : url('font/Quicksand-Light.ttf');
}

/* Cadre application */
.appli {
    position: relative;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(284deg, rgb(231, 66, 120) 0%, rgb(242, 110, 100) 59%, rgb(244, 151, 78) 99%, rgb(243, 121, 100) 100%);
    background: -o-linear-gradient(284deg, rgb(231, 66, 120) 0%, rgb(242, 110, 100) 59%, rgb(244, 151, 78) 99%, rgb(243, 121, 100) 100%);
    background: -ms-linear-gradient(284deg, rgb(231, 66, 120) 0%, rgb(242, 110, 100) 59%, rgb(244, 151, 78) 99%, rgb(243, 121, 100) 100%);
    background: -moz-linear-gradient(284deg, rgb(231, 66, 120) 0%, rgb(242, 110, 100) 59%, rgb(244, 151, 78) 99%, rgb(243, 121, 100) 100%);
    background: linear-gradient(166deg, rgb(231, 66, 120) 0%, rgb(242, 110, 100) 59%, rgb(244, 151, 78) 99%, rgb(243, 121, 100) 100%);
    margin: 0 auto;
    font-family: 'Quicksand';
    letter-spacing: 1.5px;
}

.appli .main{
    display: none;
}

/* ----------- Loading  Page -------------- */


.appli .loading img:first-child{
    position: absolute;
    display: block;
    width: 31%;
    top: 39%;
    left: 35%;
    -webkit-animation:spin 5s linear infinite;
    -moz-animation:spin 5s linear infinite;
    animation:spin 5s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.appli .loading img:last-child{
    position: absolute;
    display: block;
    width: 10%;
    top: 45.2%;
    left: 45.2%;
}

/* ----------- Empty -------------- */

.appli .empty{
    display: none;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.appli .empty img{
    position: absolute;
    display: block;
    width: 10%;
    top: 45.2%;
    left: 45.2%;
}

.appli .empty p{
    position: absolute;
    color: #fff;
    width: 55%;
    top: 42.2%;
    padding: 23%;
    text-align: center;
    line-height: 25px;

}

/*  ---------- Main Screen --------------*/


/* Header */
.appli header {
    width: 100%;
    height: 65px;
    background-color: #fff;

}
.appli header ul li{
    position: absolute;
}
.appli header ul li:first-child{
    top: 25px;
    left: 15px;
    width: 20px;
}
.appli header ul li:first-child img{
    width: 21px;
}
.appli header ul li:last-child{
    right: 15px;
    top: 24px;
}
.appli header ul li:last-child img{
    width: 20px;
}
.appli header ul li .logo{
    margin-top: 15px;
    position: absolute;
    left: 125px;
    width: 100px;
    top: 2px;
}
.appli header button{
    cursor:pointer;
    background-color: #fff ;
    border: none;
}

/* Corpus */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #66b2b4;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
    background: #2d9598;
}
::-webkit-scrollbar-track {
    background: #fff;
    border: 0px none #ffffff;
    border-radius: 53px;
}
::-webkit-scrollbar-track:hover {
    background: #fff;
}
::-webkit-scrollbar-track:active {
    background: #abd5d6;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

.appli .card{
    margin-left: 28px;
    position: absolute;
    background-color: #fff;
    width: 85%;
    height: 55%;
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.001), 0 3px 6px rgba(0,0,0,0.01);
}

.appli .tampon{
    position: absolute;
    text-align: center;

}
.appli .tampon img{
    display: none;
    margin-top: 60px;
    width: 60%;
}
.appli h2{
    margin: 40px 0 50px;
    color: #fff;
    text-align: center;
    font-size: 25px;
}
.appli h3{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 1em 35px 0;
    line-height: 27px;
    min-height: 81px;
    max-height: 110px;
    overflow: auto;
}

.appli .quote {
    width: 30px;
    margin: 30px 0 10px 30px;
}

.appli .quote2{
    margin: 10px 0 25px 240px;
}
.appli .infos{
    font-weight: bold;
    padding: 0 35px;
}
.appli .infos img{
    margin-right: -55px;
    width: 18px;
    float: right;
}
.appli .nbcliche{
    color: #2d9598;
    float: right;
    margin-right: 30px;
}
.appli .vote{
    position: absolute;
    bottom:0;
}
.appli .vote button{
    float: left;
    width: 153px;
    height: 40px;
    border: 0;
    font-family: 'Quicksand';
    background-color:  #fff;
    font-weight: bold;
}
.appli .vote button:hover{
   background-color:  #66b2b4;
    color: #fff;
}
.appli .vote button:first-child{
    border-bottom-left-radius: 15px;
}
.appli .vote button:last-child{
    border-bottom-right-radius: 15px;
}

.appli .categorie img{
    position: absolute;
    bottom: 25px;
    left: -10px;
    width: 70px;
}
.appli .categorie p{
    margin-top: 20px;
    padding: 0 35px;
    max-width: 306px;
    max-height: 40px;

}
.appli .categorie small{
    margin-right: 10px;
    font-weight: bold;
    color: #f16943;
}
/* Menu Bas */
.appli .modes{
    position: absolute;
    bottom: 0;
}
.appli .modes button{
    position: relative;
    float: left;
    width: 180px;
    height: 60px;
    border: 0;
    background-color: rgba(247, 255, 255, 0.6);
}
.appli .modes .active{
    background-color: rgba(247, 255, 255, 0.33);
}
.appli .modes button img{
    width: 26px;
}


/* RESPONSIVE */

@media screen and (max-width: 414px) {
    body {
        width: 100%;
        height: 100vh;
    }
    .appli .modes button{
        width: 50vw;
    }
    .appli .card {
        width: 85vw;
    }
    .appli .vote button {
        width: 42.5vw;
    }
}