body{
    width: 375px;
    height: 667px;
}

/* Fonts */

@font-face{
    font-family : "Quicksand";
    src : url('font/Quicksand-Light.ttf');
}

/* Cadre application */
.appli {
    position: relative;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(284deg, rgb(231, 66, 120) 0%, rgb(242, 110, 100) 59%, rgb(244, 151, 78) 99%, rgb(243, 121, 100) 100%);
    background: -o-linear-gradient(284deg, rgb(231, 66, 120) 0%, rgb(242, 110, 100) 59%, rgb(244, 151, 78) 99%, rgb(243, 121, 100) 100%);
    background: -ms-linear-gradient(284deg, rgb(231, 66, 120) 0%, rgb(242, 110, 100) 59%, rgb(244, 151, 78) 99%, rgb(243, 121, 100) 100%);
    background: -moz-linear-gradient(284deg, rgb(231, 66, 120) 0%, rgb(242, 110, 100) 59%, rgb(244, 151, 78) 99%, rgb(243, 121, 100) 100%);
    background: linear-gradient(166deg, rgb(231, 66, 120) 0%, rgb(242, 110, 100) 59%, rgb(244, 151, 78) 99%, rgb(243, 121, 100) 100%);
    margin: 0 auto;
    font-family: 'Quicksand';
    letter-spacing: 1.5px;
    overflow-x: hidden;
}

.appli .main{
    display: none;
}

/* ----------- Loading  Page -------------- */


.appli .loading img:first-child{
    position: absolute;
    display: block;
    width: 31%;
    top: 39%;
    left: 35%;
    -webkit-animation:spin 5s linear infinite;
    -moz-animation:spin 5s linear infinite;
    animation:spin 5s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.appli .loading img:last-child{
    position: absolute;
    display: block;
    width: 10%;
    top: 45.2%;
    left: 45.2%;
}

/* ----------- Empty -------------- */

.appli .empty{
    display: none;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.appli .empty img{
    position: absolute;
    display: block;
    width: 10%;
    top: 45.2%;
    left: 45.2%;
}

.appli .empty p{
    position: absolute;
    color: #fff;
    width: 55%;
    top: 42.2%;
    padding: 23%;
    text-align: center;
    line-height: 25px;

}

/*  ---------- Main Screen --------------*/


.appli #class{
    display: none;
}

/* Header */
.appli header {
    width: 100%;
    height: 65px;
    background-color: #fff;

}
.appli header ul li{
    position: absolute;
}
.appli header ul li:first-child{
    top: 25px;
    left: 15px;
    width: 20px;
}
.appli header ul li:first-child img{
    width: 21px;
}
.appli header ul li:last-child{
    right: 15px;
    top: 24px;
}
.appli header ul li:last-child img{
    width: 20px;
}

.appli header ul li #ajout img{
    margin-top: 23px;
    position: absolute;
    left: 295px;
    width: 21px;
    top: 2px;
}


.appli header ul li .logo{
    margin-top: 15px;
    position: absolute;
    left: 125px;
    width: 100px;
    top: 2px;
}

.appli header button{
    cursor:pointer;
    background-color: #fff ;
    border: none;
}

/* Corpus */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #fff;
    border: 0px none;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb:active {
    background: #f1f1f1;
}
::-webkit-scrollbar-track {
    background:  rgba(255, 255, 255, 0);
    border: 0px none #ffffff;
    border-radius: 53px;
}
::-webkit-scrollbar-track:hover {
    background:  rgba(255, 255, 255, 0);
}
::-webkit-scrollbar-track:active {
    background:  rgba(255, 255, 255, 0);
}
::-webkit-scrollbar-corner {
    background: transparent;
}

.appli .card{
    margin-left: 28px;
    position: absolute;
    background-color: #fff;
    width: 85%;
    height: 55%;
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.001), 0 3px 6px rgba(0,0,0,0.01);
}

.appli .tampon{
    position: absolute;
    text-align: center;

}
.appli .tampon img{
    display: none;
    margin-top: 60px;
    width: 60%;
}
.appli h2{
    margin: 40px 0 50px;
    color: #fff;
    text-align: center;
    font-size: 25px;
}
.appli h3{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 1em 35px 0;
    line-height: 27px;
    min-height: 81px;
    max-height: 110px;
    overflow: auto;
}

.appli .quote {
    width: 30px;
    margin: 30px 0 10px 30px;
}

.appli .quote2{
    margin: 10px 0 25px 240px;
}
.appli .infos{
    font-weight: bold;
    padding: 0 35px;
}
.appli .infos img{
    margin-right: -55px;
    width: 18px;
    float: right;
}
.appli .nbcliche{
    color: #2d9598;
    float: right;
    margin-right: 30px;
}
.appli .vote{
    position: absolute;
    bottom:0;
}
.appli .vote button{
    float: left;
    width: 159.39px;
    height: 42px;
    border: 0;
    font-family: 'Quicksand';
    background-color:  #fff;
    font-weight: bold;
}
.appli .vote button:hover{
   background-color:  #66b2b4;
    color: #fff;
}
.appli .vote button:first-child{
    border-bottom-left-radius: 15px;
}
.appli .vote button:last-child{
    border-bottom-right-radius: 15px;
}

.appli .categorie img{
    position: absolute;
    bottom: 25px;
    left: -10px;
    width: 70px;
}
.appli .categorie p{
    margin-top: 20px;
    padding: 0 35px;
    max-width: 306px;
    max-height: 40px;

}
.appli .categorie small{
    margin-right: 10px;
    font-weight: bold;
    color: #f16943;
}
/* Darker */
.appli .darker{
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}


/* Menu Bas */
.appli .modes{
    position: absolute;
    bottom: 0;
}
.appli .modes button{
    position: relative;
    float: left;
    width: 187.5px;
    height: 60px;
    border: 0;
    background-color: rgba(247, 255, 255, 0.6);
}
.appli .modes .active{
    background-color: rgba(247, 255, 255, 0.33);
}
.appli .modes button img{
    width: 26px;
}



/*---------------LIST-----------------------*/
.appli #class{
    overflow: hidden;
}
.appli .listplace{
    overflow: auto;
    max-height: 427px;
}
.appli .listcard{
    display: block;
    margin: 0 0 20px 28px;
    background-color: #fff;
    min-height:118px;
    width: 85%;
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.001), 0 3px 6px rgba(0,0,0,0.01);
}
.appli .listcard h3{
    min-width: 200px;
    font-size: 15px;
    line-height: 15px;
    float: left;
}
.appli .listcard .info{
    margin: 25px;
    position: absolute;
    float: left;
}
.appli .listcard .infos {
    font-weight: bold;
    padding: 55px 35px 10px;
    font-size: 12px;
}
/*---------------CATÉGORIES-----------------*/


.appli .categories{
    margin-left: -85vh;
    position: absolute;
    z-index: 5;
    width: 300px;
    height: 100%;
    background: #FFF;
    border-top-right-radius: 15px;
}

.appli .categories h2{
    color: #222;
    letter-spacing: -1px;
    font-weight: bold;
    padding-top: 0px;
}

.appli .categories img{
    width: 17px;
    padding-top: 27px;
    padding-right: 13px;
}
.appli .categories button{
    background-color: #fff;
    float: right;
    border: 0;
    cursor: pointer;
}

.appli .categories .rechercher{
    width: 75%;
    margin: auto;
}

.appli .categories input{
    border-radius: 15px;
    background: #e6e6e6;
    -webkit-appearance: none;
    border: none;
    height: 35px;
    width: 100%;
    font-family: 'Quicksand';

}

.appli .categories input::-webkit-input-placeholder{
    padding-left: 15px;
}


.appli .categories ul{
    width: 70%;
    margin: auto;
    padding-top: 40px;
}

.appli .categories ul a{
    text-decoration: none;
}

.appli .categories ul li{
    color: #222;
    font-weight: 800;
    letter-spacing: -2px;
    font-size: 20px;
    padding-bottom: 15px;
    line-height: 25px;
}


/*--------------------PROFIL-----------------------*/

.appli .profil{
    margin-left: 100%;
    width: 100%;
    height: 90.2%;
    position: absolute;
    z-index: 3;
}

.appli .profil .profil-header{
    height: 35%;
    background: -webkit-linear-gradient(284deg, rgb(231, 66, 120) 0%, rgb(242, 110, 100) 59%, rgb(244, 151, 78) 99%, rgb(243, 121, 100) 100%);
    background: -o-linear-gradient(284deg, rgb(231, 66, 120) 0%, rgb(242, 110, 100) 59%, rgb(244, 151, 78) 99%, rgb(243, 121, 100) 100%);
    background: -ms-linear-gradient(284deg, rgb(231, 66, 120) 0%, rgb(242, 110, 100) 59%, rgb(244, 151, 78) 99%, rgb(243, 121, 100) 100%);
    background: -moz-linear-gradient(284deg, rgb(231, 66, 120) 0%, rgb(242, 110, 100) 59%, rgb(244, 151, 78) 99%, rgb(243, 121, 100) 100%);
    background: linear-gradient(166deg, rgb(231, 66, 120) 0%, rgb(242, 110, 100) 59%, rgb(244, 151, 78) 99%, rgb(243, 121, 100) 100%);
}

.appli .profil .profil-header h2{
    padding-top: 40px;
    margin: 0;
    font-weight: 100;
}

.appli .profil .profil-header h3{
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    min-height: 0;
    padding-bottom: 70px;
}

.appli .profil .profil-header img{
    width: 15px;
    padding-left: 3px;
    padding-right: 3px;
}

.appli .profil .profil-header img.first-img{
    margin-bottom: -4px;
    width: 13px;
}

.appli .profil .profil-header .profil-infos .profil-info-left{
    float: left;
    width: 26%;
    text-align: center;
    color: #fff;
}

.appli .profil .profil-header .profil-infos .profil-info-right{
    float: right;
    width: 26%;
    text-align: center;
    color: #FFF;
}

.appli .profil .profil-picture{
    clear: both;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    width: 180px;
    height: 180px;
    background: #FFF;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -90px;
    margin-top: 110px;
}

.appli .profil .profil-picture .profil-img{
    -webkit-border-radius: 85px;
    -moz-border-radius: 85px;
    border-radius: 85px;
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 18px;
    background-image: url('img/harvey.jpg');
    background-size: cover;
}

.appli .profil .profil-content{
    background: #FFF;
    height: 65%;
}

.appli .profil .profil-content .quote{
    width: 75%;
    margin: auto;
    padding-top: 100px;
}

.appli .profil .profil-content .quote p{
    font-size: 15px;
    text-align: center;
    width: 200px;
    margin: auto;
    padding-bottom: 10px;
}

.appli .profil .profil-content .quote img{
    width: 25px;
    padding-bottom: 10px;
}

.appli .profil .profil-content .quote img:last-child{
    width: 25px;
    float: right;
    padding-bottom: 10px;
}

.appli .profil .profil-content .email{
    clear: both;
    padding-bottom: 10px;
}

.appli .profil .profil-content .email h3{
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    color: #2d9598;
    min-height: 0px;
}

.appli .profil .profil-content .email p{
    text-align: center;
    font-size: 12px;
    padding-bottom: 10px;
}

.appli .profil .profil-content .level h3{
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    color: #2d9598;
    min-height: 0px;
}

.appli .profil .profil-content .level .level-bar{
    width: 45%;
    height: 15px;
    border-radius: 15px;
    margin: auto;
    background: #efeeee;
}

.appli .profil .profil-content .level .level-bar .level-progress{
    width: 45%;
    height: 15px;
    background: #61adaf;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.appli .profil .profil-content .level .level-bar p{
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    margin-left: 55px;
    margin-top: 3px;
    position: absolute;
}

.appli .profil .profil-content .view{
    width: 60%;
    height: 35px;
    bottom: 0;
    position: absolute;
    right: 0;
    background: #61adaf;
    border-top-left-radius: 220px;
}

.appli .profil .profil-content .view p{
    font-size: 13px;
    font-weight: bold;
    color: #FFF;
    padding-top: 11px;
    text-align: center;
}

/*--------------- PUBLIER-----------------*/
.appli .publier{
    display: none;
    width: 100%;
    height: 81.3%;
    position: absolute;
    background: -webkit-linear-gradient(284deg, rgb(231, 66, 120) 0%, rgb(242, 110, 100) 59%, rgb(244, 151, 78) 99%, rgb(243, 121, 100) 100%);
    background: -o-linear-gradient(284deg, rgb(231, 66, 120) 0%, rgb(242, 110, 100) 59%, rgb(244, 151, 78) 99%, rgb(243, 121, 100) 100%);
    background: -ms-linear-gradient(284deg, rgb(231, 66, 120) 0%, rgb(242, 110, 100) 59%, rgb(244, 151, 78) 99%, rgb(243, 121, 100) 100%);
    background: -moz-linear-gradient(284deg, rgb(231, 66, 120) 0%, rgb(242, 110, 100) 59%, rgb(244, 151, 78) 99%, rgb(243, 121, 100) 100%);
    background: linear-gradient(166deg, rgb(231, 66, 120) 0%, rgb(242, 110, 100) 59%, rgb(244, 151, 78) 99%, rgb(243, 121, 100) 100%);
    z-index: 3;
}

.appli .publier .box-cliche{
    background: #FFF;
    width: 80%;
    height: 45%;
    margin: auto;
    border-radius: 15px;
    position: relative;
    margin-top: 100px;
}

.appli .publier .box-cliche .box-cliche-container{
    margin: auto;
    width: 90%;
}

.appli .publier .box-cliche textarea{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: none;
    width: 100%;
    height: 70px;
    outline: none;
    resize: none;
    color: #7d7c7c;
    padding-top: 15px;
    font-size: 12px;
    font-weight: lighter;
    letter-spacing: 1px;
    font-family: 'Quicksand';
}

.appli .publier .box-cliche .box-cliche-footer{
    background: #f3f2f2;
    width: 100%;
    height: 63%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.appli .publier .box-cliche .box-cliche-footer ul{
    padding-top: 10px;
}

.appli .publier .box-cliche .box-cliche-footer ul li{
    display: inline-block;
    color: #f16943;
    font-size: 12px;
    font-weight: bold;
    padding-right: 10px;
    padding-bottom: 10px;
}

.appli .publier .box-cliche .box-cliche-footer img{
    width: 15px;
    float: left;
    padding-right: 10px;
}

.appli .publier .box-cliche .box-cliche-footer p{
    font-size: 11px;
    float: left;
    line-height: 1.4;
}

.appli .publier .box-cliche .box-cliche-footer .ajout-categorie{
    padding-top: 10px;
}

.appli .publier .box-cliche .box-cliche-footer .view{
    width: 60%;
    height: 35px;
    bottom: 0;
    position: absolute;
    right: 0;
    background: #61adaf;
    border-bottom-right-radius: 90px;
    border-top-left-radius: 220px;
    clear: both;
}

.appli .publier .box-cliche .box-cliche-footer .view p{
    font-size: 13px;
    font-weight: bold;
    color: #FFF;
    padding-top: 11px;
    text-align: center;
    float: none;
}




/*--------------- RESPONSIVE-----------------*/

@media screen and (max-width: 414px) {
    body {
        width: 100%;
        height: 100vh;
    }
    .appli .modes button{
        width: 50vw;
    }
    .appli .card {
        width: 85vw;
    }
    .appli .vote button {
        width: 42.5vw;
    }
    .appli .listplace{
        max-height: 64vh;
    }
}

